<!-- views/partials/footer.ejs -->
<footer>

<div class="grid-container-full">
    <div class="footer1">
        <h2>FØLG OS</h2>
        <div id="social">
            <a class="facebook-button social-button" href="#" ></a>
            <a class="twitter-button social-button" href="#" ></a>
          </div>
    </div>
    <div class="footer2">
        <div class="nyhedsbrev">
            <h2>Tilmeld dig vores nyhedsbrev</h2>
            <h4>Få seneste nyt sendt direkte til din indbakke</h4>
            <form method="POST">
               <label for="email"></label>
               <input type="email" name="email" id="email" placeholder="Indtast din e-mail.."> 
               <button type="button" id="send" class="btn btn-success">Tilmeld</button> 
             </form>         
        </div>
        <div class="logo">
            <img src="/images/Hancock-kvalitet-logo.png" alt="">
            <h2> - Smag forskellen...</h2>
        </div>
    </div>

</div>

</footer>

<script src="/assets/js/styles.js"></script>

</body>
</html>