<% include ../partials/header %>    
      
<link rel="stylesheet" href="/assets/css/login.css">

<main>
    <div class="grid-container-full">
        <div class="login0">
            <img src="/images/camp2-foto-colourbox.jpg" alt="">
     </div>
        <div class="login1">
               <h2>LOGIN</h2> <br>
        </div>
    </div>

    <div id="login"></div>
    
    
<script src="/assets/js/login.js"></script>
        
</main>
        

<% include ../partials/footer %>