<% include ../partials/header %>    
       
<link rel="stylesheet" href="/assets/css/ticket.css">

<main>

<div class="grid-container-full">
    <div class="ticket0">
        <img src="/images/crowd1-foto-colourbox.jpg" alt="">
 </div>
</div>
<div class="grid-container">
    <div class="ticket1">
        <h2>KØB BILLET</h2>
    </div>
        <div class="ticket2">
        <h2>PARTOUT BILLET - ALLE DAGE</h2>
        <% billet.items.slice(0,2).forEach(function(item) {
        %> <div class="ticket-content">
        <h3><%= item.name %></h3>
        <h4><%= item.price %> DKK</h4></div>
        <% }); %>
        </div>

        <div class="ticket3">
            <h2>ENKELTBILLETTER</h2>
            <% billet.items.slice(2,6).forEach(function(item) {
            %> <div class="ticket-content">
            <h3><%= item.name %></h3>
            <h4><%= item.price %> DKK</h4></div>
            <% }); %>
            </div>   
</div>

</main>

<% include ../partials/footer %>